@{
    ViewBag.Title = "Moderador";
}

<head>
    <link href="~/css/moderador.css" rel="stylesheet" />
</head>

<div class="pie"></div>
<div class="costado"></div>
<button id="Salir" onclick="window.location.href='@Url.Action("PaginaPrincipal", "Home")'">Salir </button>
<button id="admiR" onclick="mostrarVentanaEmergenteReportes()"> Administrar Reportes</button>

<img src="~/css/imagenes/logo.png" alt="LogoAplicacion" height="130" width="130" class="logo">

<div id="modal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" onclick="cerrarVentanaEmergenteReportes()">&times;</span>
        <h2>Administrar Reportes</h2>
        <div>
            @if (ViewBag.PublicacionesReportadas != null)
            {
                foreach (var publicacion in ViewBag.PublicacionesReportadas)
                {
                    <div class="publicacionR">
                        <h3>@publicacion.Titulo</h3>
                        <p>@publicacion.Contenido</p>
                        <p>@publicacion.FechaPublicacion</p>
                        <p>@publicacion.MotivoReporte</p>
                        <div class="botonesR">
                            <button onclick="eliminarPublicacion(@publicacion.IdPublicacion)">Eliminar Publicación</button>
                            <button onclick="eliminarReporte(@publicacion.IdPublicacion)">Eliminar Reporte</button>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No hay publicaciones reportadas disponibles.</p>
            }
        </div>
    </div>
</div>
<script src="~/js/moderador.js"></script>
